@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

body{
    
}

.titles{
    style: inline;
    text-align: center;
    width: 10%;
    font-size: 50px;
    flex-direction: row;
    height: 1080px;
    padding: 0;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    font-family: "Nothing";
    font-weight: 100;
    color: white;
    padding-top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-right{
    line-height: 13.5px;
    background-color: #356920;
    width: 200px;
    height: 100%;
}
.title-left{
   background-color: #356920; 
   width: 200px;
   line-height: 7px;
   height: 100%;
}
.menu{
    text-align: center;
    background-color: #356920;
    width: 1520px;
    display: flex;
    flex-direction: row;
}
.pre-aura{
   border: 5px solid grey;
}
.true-aura{
    border: 5px solid grey;
}
.fake-aura{
    border: 5px solid grey;
}